{{#each success}}
  <div class="alert alert-danger">{{this}}</div>
{{/each}}

<link href="/css/swipe.css" rel="stylesheet">
<div class="container">
  <div class="row text-center">
    <div class="col-sm-3">
      <Button class="no-button arrow-buttons">&#10006;</Button>
    </div>
    <div class="col-sm-6">
      <img src="http://cdn.akc.org/content/hero/puppy-boundaries_header.jpg" class="target-pet img-rounded" alt="">
    </div>
    <div class="col-sm-3">
      <Button class="yes-button arrow-buttons">&#10004;</Button>
    </div>
  </div>
  </div>
</div>